*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#total{
    width: 95%;
    height: 95%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#total > :nth-child(1){
    background-color: red;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 20px;
} 

#total > :nth-child(1) > :nth-child(1){
    background-color: blue;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
} 

#total > :nth-child(1) > :nth-child(1) > :nth-child(1){
    background-color: darkseagreen;
    height: 30px;
    width: 20%;
} 
#total > :nth-child(1) > :nth-child(1) > :nth-child(2){
    background-color: darkseagreen;
    height: 30px;
    width: 40%;
} 
#total > :nth-child(1) > :nth-child(1) > :nth-child(3){
    background-color: darkseagreen;
    height: 30px;
    width: 20%;
} 


#total > :nth-child(1) > :nth-child(2){
    background-color: blue;
    height: 35%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

#total > :nth-child(1) > :nth-child(2) :nth-child(1){
    background-color: darkseagreen;
    height: 30px;
    width: 90%;
} 

#total > :nth-child(2){
    background-color: darkgreen;
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 20px;
} 

#total > :nth-child(2) > :nth-child(1){
    background-color: blue;
    height: 85%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#total > :nth-child(2) > :nth-child(1) > :nth-child(1){
    height: 60%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
} 

#total > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(n){ 
    background-color: red;
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

#total > :nth-child(2) > :nth-child(1) > :nth-child(2){
    background-color: red;
    height: 20%;
    width: 80%;
} 



#total > :nth-child(2) > :nth-child(2){
    background-color: blue;
    height: 85%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    
} 
#total > :nth-child(2) > :nth-child(2) :nth-child(n){
    background-color: red;
    height: 40px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 20px;
}

#total > :nth-child(3){
    background-color: yellow;
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

#total > :nth-child(3) :nth-child(n){
    background-color: red;
    height: 40%;
    width: 90%;
} 


@media only screen and (max-width: 1200px) {

    #total > :nth-child(2){
        flex-direction: column;
        height: 55%;
    } 

    #total > :nth-child(2) > :nth-child(1){
        margin-bottom: 30px;
    } 

    #total > :nth-child(2) :nth-child(n){
        width: 90%;
    } 
}

@media only screen and (max-width: 640px) {

    body{
        height: 120vh;
    }

    #total > :nth-child(1) > :nth-child(1){
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 20px 20px;
        height: 150px;
        margin-bottom: 15px;
    } 

    #total > :nth-child(1) > :nth-child(1) > :nth-child(n){
        width: 100%;
    }

    #total > :nth-child(2) > :nth-child(1){
        height: 70%;
    }

    #total > :nth-child(2) > :nth-child(2){
        height: 50%;
    }

    #total > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(n){ 
        background-color: red;
        height: 20%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 


}